﻿body {
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #1e1e1c;
    background-size: 100%;
}

@media (min-width: 768px) {
    body {
        background-size: 500px;
    }
}
